$color-turquoise: #41d3bd;
$color-ivory: #fffff2;
$color-mauveine: #791e94;
$color-sienna: #de6449;
$color-cerulean: #407899;
$color-light-gray: #e1e1e1;
$color-black: #0c090d;
$color-white: #ffffff;

$color-background: #f4f4f4;
$color-primary: $color-mauveine;
$color-secondary: #f2e9f4;
$color-text: $color-black;
$color-placeholder: #b1bdbe;

$font-size-xl: 32px;
$font-size-lg: 18px;
$font-size-md: 16px;

$font-weight-bold: 700;
$font-weight-regular: 400;

$base-border-radius: 10px;
