@import 'primeicons/primeicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables';

html,
body,
#app {
  font-family: 'Montserrat', sans-serif;
  font-size: $font-size-md;
  background-color: $color-background;
}
