@import 'primeicons/primeicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables';

html,
body,
#app {
  font-family: 'Montserrat', sans-serif;
  font-size: $font-size-md;
  background-color: $color-background;
}

.page-title {
  margin: 0;
  color: $color-text;
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
}

.label {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
}

.input.p-inputtext {
  width: 100%;
  padding: 10px 16px;

  color: $color-text;
  font-size: $font-size-md;
  font-weight: $font-weight-regular;

  border: 1px solid $color-light-gray;
  border-radius: $base-border-radius;
  outline: none;

  &::placeholder {
    color: $color-placeholder;
  }

  &:focus {
    border-color: $color-primary;
  }
}

.input.p-calendar {
  width: 100%;

  input {
    padding: 10px 16px;

    color: $color-text;
    font-size: $font-size-md;
    font-weight: $font-weight-regular;
    background-color: $color-white;

    border: 1px solid $color-light-gray;
    border-radius: $base-border-radius;
    outline: none;

    &::placeholder {
      color: $color-placeholder;
    }

    &:focus {
      border-color: $color-primary;
    }
  }
}

.input.p-dropdown {
  width: 100%;

  .p-inputtext {
    padding: 10px 16px;

    color: $color-text;
    font-size: $font-size-md;
    font-weight: $font-weight-regular;

    border: 1px solid $color-light-gray;
    border-radius: $base-border-radius;
    outline: none;

    &::placeholder {
      color: $color-placeholder;
    }
  }

  &.p-inputwrapper-focus {
    outline: none;
    border: 1px solid $color-primary;
  }
}

.p-dropdown-item.p-focus {
  background-color: $color-secondary;
}

.labeled-input > .input {
  margin-top: 16px;
}

.button.p-button {
  max-width: fit-content;
  padding: 12px 20px;
  font-weight:600;
  background-color: $color-primary;
  color: $color-white;
  border-radius: $base-border-radius;

  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
}

.text {
  font-size: $font-size-md;
  font-weight: $font-weight-regular;
  color: $color-text;
}
